# .env.example

# Supabase Configuration
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# App Configuration
PUBLIC_SCHOOL_EMAIL_DOMAIN=

# DRIZZLE ORM
DATABASE_URL=""